.App {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }

  .container-to-hide {
    display: none;
  }
  
  .hide.container-to-hide {
    display: block;
  }
  
  
  
  .hero {
    background-image: url('https://source.unsplash.com/1600x900/?lawyer,office');
    height: calc(70vh - 70px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    margin-top: 69px;
  }
  
  .hero h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
  }
  
  .hero p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
  
  button {
    background-color: #fff;
    color: #333;
    padding: 1rem 2rem;
    border: none;
    border-radius: 3px;
    font-size: 1.2rem;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #eee;
  }

  .services {
    padding: 5rem 0;
    background-color: rgba(188, 159, 112, 0.5);
    ;
  }
  
  .services h2 {
    font-size: 3rem;
    margin-bottom: 3rem;
    text-align: center;
  }
  
  .service-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 3rem;
  }
  
  .service-item {
    flex-basis: 30rem;
    padding: 2rem;
    background-color: white;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .service-item h3 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  
  .service-item p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }

  .mission-container {
    padding: 50px;
    background: linear-gradient(to bottom, #eaeaea, #ffffff);
  }
  
  .mission-container h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .mission-container p {
    font-size: 1.2rem;
    line-height: 1.5;
    text-align: justify;
    margin: 0 auto;
    max-width: 800px;
  }
  
  
  
 /* styles for screens 768px and below */
@media screen and (max-width: 768px) {

  .hero {
    height: calc(85vh - 70px);
  }

    /* adjust font sizes and padding for smaller screens */
    .hero h1 {
      font-size: 3rem;
      padding: 0 1rem;
    }
    
    .hero p {
      font-size: 1.2rem;
      padding: 0 2rem;
      margin-bottom: 2rem;
    }
  
    button {
      font-size: 1rem;
      padding: 0.8rem 1.5rem;
    }
  
  }
  
  
  
  
  