.App {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }

  .container-to-hide {
    display: none;
  }
  
  .hide.container-to-hide {
    display: block;
  }